.first-container {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    overflow: hidden; /* Garante que as imagens fora da visão sejam ocultadas */

    /* Adicionando uma animação de slide com transição suave */
    animation: slide 12s infinite ease-in-out; /* Altere a duração (12s) conforme necessário */
}

/* Adicionando as imagens do slider como múltiplos backgrounds */
.first-container {
    background-image: url('../img/nanda1.jpeg');
    /* Adicione mais imagens conforme necessário, separando por vírgulas */
}

/* Definindo a animação de slide */
@keyframes slide {
    0%, 25% {
        background-image: url('../img/nanda1.jpeg');
    }
    25.01%, 50% {
        background-image: url('../img/nanda2.jpeg');
    }
    50.01%, 75% {
        background-image: url('../img/nanda3.jpeg');
    }
    75.01%, 100% {
        background-image: url('../img/nanda1.jpeg');
    }
}

.custom-navbar{
    height: 15vh;
    opacity: 90%;
}

.custom-navbar-brand{
    margin-left: 50px;
}

.custom-navbar-content {
    margin-right: 50px; 
}

.text-first-container{
    padding-top:15%;
}

.text-first-container h1{
    font-size: 4rem;
    color:#ffffff
}

.text-first-container i{
    background-color: blue;
}

.icon-down{
    padding-top: 10%;
}
